[Unit]
Description=Sync all data
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=root
ExecStart=/usr/local/bin/sync.sh

[Install]
WantedBy=multi-user.target
