    # OctoEverywhere For Moonraker Service
    [Unit]
    Description=OctoEverywhere For Moonraker
    # Start after network and moonraker has started.
    After=network-online.target moonraker.service

    [Install]
    WantedBy=multi-user.target

    # Simple service, targeting the user that was used to install the service, simply running our moonraker py host script.
    [Service]
    Type=simple
    User=biqu
    WorkingDirectory=/home/biqu/octoeverywhere
    ExecStart=/home/biqu/venv/bin/python3 -m moonraker_octoeverywhere "eyJLbGlwcGVyQ29uZmlnRm9sZGVyIjogIi9ob21lL2JpcXUvcHJpbnRlcl9kYXRhL2NvbmZpZyIsICJNb29ucmFrZXJDb25maWdGaWxlIjogIi9ob21lL2JpcXUvcHJpbnRlcl9kYXRhL2NvbmZpZy9tb29ucmFrZXIuY29uZiIsICJLbGlwcGVyTG9nRm9sZGVyIjogIi9ob21lL2JpcXUvcHJpbnRlcl9kYXRhL2xvZ3MiLCAiTG9jYWxGaWxlU3RvcmFnZVBhdGgiOiAiL2hvbWUvYmlxdS9wcmludGVyX2RhdGEvb2N0b2V2ZXJ5d2hlcmUtc3RvcmUiLCAiU2VydmljZU5hbWUiOiAib2N0b2V2ZXJ5d2hlcmUiLCAiVmlydHVhbEVudlBhdGgiOiAiL2hvbWUvYmlxdS92ZW52IiwgIlJlcG9Sb290Rm9sZGVyIjogIi9ob21lL2JpcXUvb2N0b2V2ZXJ5d2hlcmUiLCAiSXNPYnNlcnZlciI6IGZhbHNlLCAiT2JzZXJ2ZXJDb25maWdGaWxlUGF0aCI6IG51bGwsICJPYnNlcnZlckluc3RhbmNlSWRTdHIiOiBudWxsfQ=="
    Restart=always
    # Since we will only restart on a fatal Logger.Error, set the restart time to be a bit higher, so we don't spin and spam.
    RestartSec=10
