// SPDX-License-Identifier: (GPL-2.0+ OR MIT)

/dts-v1/;

#include "rk3566-bigtreetech-cb2.dtsi"

/ {
	model = "BigTreeTech Pi 2";
	compatible = "bigtreetech,pi2", "rockchip,rk3566";

    onewire: onewire {
        compatible = "w1-gpio";
        gpios = <&gpio4 RK_PB2 GPIO_ACTIVE_HIGH>;
        pinctrl-names = "default";
        pinctrl-0 = <&gpio_w1>;
        status = "disabled";
    };
};

&pinctrl {
    gpio-w1 {
        gpio_w1:gpio-w1 {
            rockchip,pins = <4 RK_PB2 RK_FUNC_GPIO &pcfg_pull_none>;
        };
    };
};

&scmi_clk {
	rockchip,clk-init = <1104000000>;
};

&sfc {
	status = "okay";

	flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <100000000>;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <1>;
	};
};

&display_subsystem {
	status = "disabled";
};
&dsi1 {
	status = "disabled";
};
&dsi1_panel {
	status = "disabled";
};
&dsi1_in_vp1 {
	status = "disabled";
};
&dsi_dphy1 {
	status = "disabled";
};
&tp_dsi {
	status = "disabled";
};
&bl_dsi {
	status = "disabled";
};
&vop {
	vop-supply = <&vdd_logic>;
	status = "disabled";
};
&vop_mmu {
	status = "disabled";
};
&display_subsystem {
	status = "disabled";
};
&hdmi_sound {
	status = "disabled";
};
&hdmi {
	status = "disabled";
};
&hdmi_in_vp0 {
	status = "disabled";
};

/* HDMI output */
/*&vop {
	status = "okay";
};
&vop_mmu {
	status = "okay";
};
&display_subsystem {
	status = "okay";
};
&hdmi_sound {
	status = "okay";
};
&i2s0_8ch {
	status = "okay";
};
&hdmi {
	status = "okay";
};
&hdmi_in_vp0 {
	status = "okay";
};*/

/* DSI1 output */
/*&vop {
	status = "okay";
};
&vop_mmu {
	status = "okay";
};
&display_subsystem {
	status = "okay";
};
&dsi1 {
	status = "okay";
};
&dsi1_panel {
	status = "okay";
};
&dsi1_in_vp1 {
	status = "okay";
};
&dsi_dphy1 {
	status = "okay";
};
&tp_dsi {
	status = "okay";
};
&bl_dsi {
	status = "okay";
};*/

&i2c3 {
	status = "disabled";
};

&i2s0_8ch {
	status = "disabled";
};

&pcie2x1 {
	status = "disabled";
};
