// SPDX-License-Identifier: (GPL-2.0+ OR MIT)

/dts-v1/;

#include "rk3566-bigtreetech-cb2.dtsi"

/ {
	model = "BigTreeTech Pi 2";
	compatible = "bigtreetech,pi2", "rockchip,rk3566";
};

&sfc {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <100000000>;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <1>;
	};
};

&i2c2 {
	status = "disabled";

	bl_dsi: regulator@45 {
		status = "disabled";
		compatible = "raspberrypi,7inch-touchscreen-panel-regulator";
		reg = <0x45>;
	};

	tp_dsi: ft5406@38 {
		status = "disabled";
		compatible = "edt,edt-ft5406";
		reg = <0x38>;
		vcc-supply = <&vcc3v3_sys>;
		iovcc-supply = <&vcc_3v3>;
		touchscreen-size-x = <800>;
		touchscreen-size-y = <480>;
		touchscreen-inverted-x;
		touchscreen-inverted-y;
	};
};

&dsi1 {
	status = "disabled";
};

&dsi1_panel {
	status = "disabled";
};

&dsi1_in_vp1 {
	status = "disabled";
};

&dsi_dphy1 {
	status = "disabled";
};

&tp_dsi {
	status = "disabled";
};

&bl_dsi {
	status = "disabled";
};
