[Unit]
Description=Status LED
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=root
ExecStart=/usr/local/bin/status_led.sh

[Install]
WantedBy=multi-user.target
